from typing import List

from austial import Body, Controller, Delete, Get, Patch, Post

from src.modules.{{ snake_name }}.{{ snake_name }}_service import {{ class_name }}Service
from src.modules.{{ snake_name }}.dto.create_{{ snake_name }}_dto import Create{{ class_name }}Dto
from src.modules.{{ snake_name }}.dto.update_{{ snake_name }}_dto import Update{{ class_name }}Dto
from src.modules.{{ snake_name }}.entities.{{ snake_name }}_entity import {{ class_name }}


@Controller("{{ kebab_name }}")
class {{ class_name }}Controller:
    def __init__(self, service: {{ class_name }}Service):
        self.service = service

    @Post()
    async def create(self, dto: Create{{ class_name }}Dto = Body()) -> {{ class_name }}:
        return self.service.create(dto)

    @Get()
    async def find_all(self) -> List[{{ class_name }}]:
        return self.service.find_all()

    @Get(":id")
    async def find_one(self, id: int) -> {{ class_name }}:
        return self.service.find_one(id)

    @Patch(":id")
    async def update(self, id: int, dto: Update{{ class_name }}Dto = Body()) -> {{ class_name }}:
        return self.service.update(id, dto)

    @Delete(":id")
    async def remove(self, id: int) -> dict:
        self.service.remove(id)
        return {"deleted": True}
