from austial import Module

from src.modules.{{ snake_name }}.{{ snake_name }}_controller import {{ class_name }}Controller
from src.modules.{{ snake_name }}.{{ snake_name }}_service import {{ class_name }}Service


@Module(controllers=[{{ class_name }}Controller], providers=[{{ class_name }}Service])
class {{ class_name }}Module:
    pass
